@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: #363636;
    font-family: 'Bebas Neue', cursive;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 2000px;
}
.LinkSocial:hover{
background-color: red;
}
.center {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.principal{
    background-image: url('../img/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section {
    background-color: #363636;
    width: 100%;
    min-height: 100vh;

    height: auto;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    display: inline-block;
    text-align: center;
}

.pres {
    width: auto;
    border-radius: .8rem;
    height: auto;
    background-color: rgba(0, 0, 0, 0.425);
    display: flex; 
    justify-items: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    backdrop-filter: blur(10px);
}

.partImg {
    background-color: rgb(0, 0, 0);
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin: 40px;
}

.partImg img {
    width: 100%;
    height: auto;
}

.partext {
    padding: 100px 200px 100px 20px;
}

.pres p {
    font-size: 1.5rem;
    color: #d8d8d8;
}

.pres h1 {
    font-size: 4rem;
}

.text-pre {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(27, 27, 27);
    position: sticky;
    top: 0;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: 0px;
    list-style: none;
}

.link-nav {
    padding: 10px 15px;

}

.link-nav a {
    color: white;
    text-decoration: none;
}

.link-nav:hover {
    background-color: rgb(44, 44, 44);
}

.card {
    display: inline-block;
    height: 100%;
    background-color: grey;
    width: 300px;
    margin: 20px;
}

.imgCard {
    background-color: rgb(43, 255, 0);
    height: 300px;
    width: 300px;
}

.imgCard img {
    height: 300px;
    width: 300px;
}

.com {
    padding: 1rem;

}

.cardTitle {
    font-size: 40px;
    margin: 0;
}

.cardDesc {
    font-size: 15px;
    text-align: justify;
}
.Social {
    width: auto;
    border-radius: .8rem;
    height: auto;
    background-color: rgba(0, 0, 0, 0.425);
    display: grid; 
    justify-items: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    backdrop-filter: blur(10px);
    padding: 40px;
}
.Social p {
   font-size: 1.5rem;
   margin: 50p;

}


.redesLink{
    display: flex;
    width: 500px;
    align-items: center;
}
.LinkSocial{

    display:inline-block;
    padding:5px;
    border-radius: 5px;
}
.LinkSocial svg{
    height: 100px;
    width: 100px;
    fill: #ffffff;
}
ul.menu:hover{
    background-color: white;
}

ul.menu > li > a:active:before {
    background-color: white;
}

@media (max-width: 800px) {
    section {
        background-color: #363636;
        width: 100%;
        min-height: 100vh;
        height: auto;
        padding: 30px 0px;
        display: inline-block;
        text-align: center;
    }

    .card {
        display: inline-block;
        height: 100%;
        background-color: grey;
        width: 300px;
        margin: 20px;
    }

    .pres {
        width: 100%;
        height: auto;
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center;
        border-radius: 0;
    }

    .partImg {
        background-color: rgb(0, 0, 0);
        height: 200px;
        width: 200px;
        margin: 40px 0px;
    }

    .partext {
        display: block;
        justify-items: center;
        text-align: center;
        padding: 40px;
        margin: auto;

    }


}

@media (max-width: 350px) {
    .card {
        background-color: grey;
        width: 100vw;
        height: auto;
        margin: 10px 0px ;
    }

    .imgCard {
        background-color: red;
        height: 100vw;
        width: 100vw;
    }

    .imgCard img {
        height: 100vw;
        width: 100vw;
    }

    .com {
        padding: 2rem;
    }

    .cardTitle {
        font-size: 20px
    }

    .cardDesc {
        font-size: 10px;
        text-align: justify;
    }
}